<html>
    <head>
        <title>
            Home
        </title>
        <link rel="stylesheet" type="text/css" href="css/userList.css">
    </head>

    <body>
        <h1>
            Home
        </h1>

        <ul><li>
            <a href="/">Home</a>
        </li>
    <li>            <a href="/users">Users</a>
    </li></ul>
        <!--list 3 names-->
        <ul id="unorderedList">
            <li id="listItem">
                Users in the database:
                <ol id="orderedList" start="10">
                    <li id="listItem">Suraj</li>
                    <li id="listItem">Craig</li>
                    <li id="listItem">Lisa</li>
                </ol>
            </li>
            </ul>  
        </html>
